<div class="layout-footer">
    <div class="layout-footer-left">
        <span style="vertical-align: inherit;">© 2022 Panadería Diaz</span>
    </div>
    <div class="layout-footer-right">
        <a href="/contacto" class="mr-3">
            <i class="pi pi-whatsapp"></i>
        </a>
        <!--<br>-->
        <a href="/contacto" class="mr-3">
            <i class="pi pi-instagram"></i>
        </a>
        <!--<br>-->
        <a href="/contacto" class="mr-3">
            <i class="pi pi-twitter"></i>
        </a>
    </div>
</div>