.layout-footer{
    padding: 2rem;
    font-size: 1rem;
    background-color: var(--surface-ground);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layout-footer-right{
    letter-spacing: 4px;
}

#footer{
    background-color: #E5890A;
    color: #FFF7AE;
}

.pi{
    color: #F6D167;
    padding-right: 4px;
}

.pi:hover{
    color: #FAFAFA;
}