<div class="layout-footer" id="footer">
    <div class="layout-footer-left">
        <span style="vertical-align: inherit;">© 2022 Panadería Diaz</span>
    </div>
    <div class="layout-footer-right">
        <a href="/contacto" class="mr-3">
            <i class="pi pi-whatsapp"></i>
        </a>
        <a href="/contacto" class="mr-3">
            <i class="pi pi-facebook"></i>
        </a>
        <a href="/contacto" class="mr-3">
            <i class="pi pi-instagram"></i>
        </a>
        <a href="/contacto" class="mr-3">
            <i class="pi pi-google"></i>
        </a>
        <a href="/contacto" class="mr-3">
            <i class="pi pi-car"></i>
        </a>
    </div>
</div>