<p-card class="card" *ngFor="let col of coleccionPanaderia">
    <ng-template pTemplate="header">
        <img alt="Card" [src]="col.imagen" height="300px">
        <h1>{{col.nombre}}</h1>
        <h3>${{col.precio}}</h3>
        <button id="boton" pButton class="p-button-success" label="Comprar"></button>
    </ng-template>
    <ng-template pTemplate="footer">
        <button id="editar" icon="pi pi-pencil" pButton class="p-button-success" label="Editar"></button>
        <button id="borrar" icon="pi pi-trash" pButton class="p-button-danger" label="Borrar"></button>
    </ng-template>
</p-card>